.ncg-label TEAMS
.container-fluid
	.col-sm-6
		.label-primary BLU
		input.form-control#blu-team
	.col-sm-6
		.label-danger RED
		input.form-control#red-team
.ncg-btn-group
	.btn-group.btn-group-justified
		.btn-group
			button#blu-toggle.btn.btn-xs.btn-primary Toggle Blu Pick
		.btn-group
			button#red-toggle.btn.btn-xs.btn-danger Toggle Red Pick

.ncg-label Maps

.row
	.col-sm-4
		.ncg-label Map
	.col-sm-2
		.ncg-label Blu Pick		
	.col-sm-2
		.ncg-label Blu Ban
	.col-sm-2
		.ncg-label Red Pick		
	.col-sm-2
		.ncg-label Red Ban		

//future me is going to find a sexy way of adding and removing maps similiar to the vtv scoreboard. For now, there is just going to be 7/8 fields.
		
.row#m1
	.col-sm-4
		input(value='Badlands').form-control#map1 
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp1 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb1 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp1 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb1 Ban
.row#m2
	.col-sm-4
		input(value='Granary').form-control#map2
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp2 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb2 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp2 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb2 Ban
.row#m3
	.col-sm-4
		input(value='Gravelpit').form-control#map3
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp3 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb3 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp3 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb3 Ban		
.row#m4
	.col-sm-4
		input(value='Gullywash').form-control#map4
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp4 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb4 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp4 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb4 Ban		
.row#m5
	.col-sm-4
		input(value='Process').form-control#map5
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp5 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb5 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp5 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb5 Ban
.row#m6
	.col-sm-4
		input(value='Snakewater').form-control#map6
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp6 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb6 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp6 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb6 Ban
.row#m7
	.col-sm-4
		input(value='Product').form-control#map7
	.col-sm-2
		button.blu_pick.btn.btn-xs.btn-primary#bp7 Pick
	.col-sm-2
		button.blu_ban.btn.btn-xs.btn-primary#bb7 Ban
	.col-sm-2
		button.red_pick.btn.btn-xs.btn-danger#rp7 Pick
	.col-sm-2
		button.red_ban.btn.btn-xs.btn-danger#rb7 Ban

		
		
		
		
		
		
		
		
		
		
		
.ncg-btn-group
	.btn-group.btn-group-justified
		.btn-group
			button#mapvote_in.btn.btn-xs.btn-Success Fade In
		.btn-group
			button#mapvote_out.btn.btn-xs.btn-danger Fade Out