<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Jaldi:400,700' rel='stylesheet' type='text/css'>
    <link href="mapvote.css" rel="stylesheet"/>	
    <script src="components/jquery/dist/jquery.min.js"></script>
	<script src="components/gsap/src/minified/TweenMax.min.js"></script>
	<script src="components/ionsound/js/ion.sound.min.js"></script>
	<script src="mapvote.js"></script>

</head>
<body>
	<div class="container">
	<div id = "map-container">
		
		<div id = "mapvote">
		<div id = "logo"> <img src="img/tftv.png" style="width:200px"></div>
		<div id = "sub-logo"> TEAM MAPVOTE </div>
		<div id ="team-names">
			<div id="blu"> </div>
			<div id="red"> </div>
		</div>
			<div class="map" id = "m1"> <div class="left"></div><div class="mapname" id = "map1-name"> </div><div class="right"></div></div>
			<div class="map" id = "m2"> <div class="left"></div><div class="mapname" id = "map2-name"> </div><div class="right"></div></div>
			<div class="map" id = "m3"> <div class="left"></div><div class="mapname" id = "map3-name"> </div><div class="right"></div></div>
			<div class="map" id = "m4"> <div class="left"></div><div class="mapname" id = "map4-name"> </div><div class="right"></div></div>
			<div class="map" id = "m5"> <div class="left"></div><div class="mapname" id = "map5-name"> </div><div class="right"></div></div>
			<div class="map" id = "m6"> <div class="left"></div><div class="mapname" id = "map6-name"> </div><div class="right"></div></div>
			<div class="map" id = "m7"> <div class="left"></div><div class="mapname" id = "map7-name"> </div><div class="right"></div></div>
			<div class="map" id = "m8"> <div class="left"></div><div class="mapname" id = "map8-name"> </div><div class="right"></div></div>
	
		</div>
	</div>
	</div>
	
<body>